@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background-color: #FDF8F3;
    color: #2C1810;
  }
}
